/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-header: #2984FD ;
    --bgd-card-ligh-bl: #B5DDFF ;
    --bgd-section-ligh-purp: #9792E3;
    --bgd-card-light-purp: #9792E3;
}

/* generics */
body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 110px;
}

/* utilities */
.container {
    max-width: 430px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: row; 
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.debug .border {
    border: 2px dashed black; 
}

.sec-l-p {
    background-color: var(--bgd-section-ligh-purp);
}

/* header */
header {
    height: 80px;
    background-color: var(--bgd-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    height: 100%;
    background-color: var(--bgd-header);
    justify-content: space-between;
    align-items: center;
}

/* main */
section{
    margin-bottom: 80px;
}

/* first section */
.card.ligh-b, .card-benefit {
    margin: 20px 0;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--bgd-card-ligh-bl);
}

/* second section */
.strateg-plan {
    /* ?todo remove */
    min-height: 500px;
}

.left-cont, .right-cont {
    /* ?todo remove */
    min-height: 200px;
    background-color: beige;
    margin: 20px 0;
}

/* third-section  */
.text-testimonial {
    text-align: center;
}

.cards-testimonial > .card {
    background-color: var(--bgd-card-light-purp);
    border-radius: 40px;
    /* ?todo remove */
    margin: 30px 0;
    min-height: 200px;
}

/* fourth section  */
.row-benefit {
    padding-bottom: 40px;
}

/************************************************
 RESPONSIVE
 ************************************************/

 /* tablet 768px */
@media screen and (min-width: 768px) {

    /* first section */
    .container {
       max-width: 710px;
    }

    .row.first-sect {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .column.big-up {
        flex-basis: 66.6%;
    }

    .column.sm-up {
        flex-basis: 33.3%;
    }

    .column.sm-dw {
        flex-basis: calc(100% / 3);
    }

    .card.ligh-b {
        margin: 10px 0;
    }

    .column {
        padding: 0 10px;
        display: flex;
    }

    /* fourth section */
    .row-benefit {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .column-benefit {
        flex-basis: calc(100% / 2 );
        padding: 0 10px;
        display: flex;
    }

}


 /* mobile 480px */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 850px;
    }

    /* second-section */
    .strateg-plan {
        display: flex;
    }

    .strateg-plan .left-cont, .strateg-plan .right-cont {
        margin: 0 20px;
    }

    /* fourth section */
    .column-benefit {
        flex-basis: calc(100% / 3 );
    
    }
}