/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-header: #2984FD ;
    --bgd-footer: # ;
}

/* generics */
body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 130px;
}

header {
    
}

/* utilities */
.container-main {
    max-width: 430px;
    margin: 0 auto;

    /* ?Todo remove */
    height: 100vh;
    /* background-color: lightblue; */
}

.d-flex {
    display: flex; 
}

.debug .border {
    border: 2px dashed black; 
}

/* header */
header {
    height: 80px;
    background-color: var(--bgd-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    height: 80px;
    background-color: var(--bgd-header);
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/************************************************
 RESPONSIVE
 ************************************************/
@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
    .container-main {
       max-width: 710px;
    }
}

@media screen and (min-width: 1200px) {
    .container-main {
        max-width: 850px;
    }
}